
body {
	background: #222;
	padding: 0;
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	color: #fff;
	color: rgba(255, 255, 255, .8);
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	position: fixed;
}

#video {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border: none;
}

#text {
	margin-top: 10px;
}
